{% extends 'base.html' %} {% block content %}
<div class="container mt-4">
  <h1 class="mb-4">Shift dan Jadwal Apel</h1>

  <h2>Shift</h2>
  <div class="table-responsive mb-4">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Shift</th>
          <th scope="col">Jam Mulai</th>
          <th scope="col">Jam Selesai</th>
          <th scope="col">Kelas</th>
        </tr>
      </thead>
      <tbody>
        {% for shift in shifts %}
        <tr>
          <td>{{ shift.jenis_shift }}</td>
          <td>{{ shift.waktu_mulai }}</td>
          <td>{{ shift.waktu_berakhir }}</td>
          <td>{{ shift.kelas_nama }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <h2>Jadwal Apel</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Tanggal</th>
          <th scope="col">Kelas</th>
          <th scope="col">Shift</th>
        </tr>
      </thead>
      <tbody>
        {% for apel in apels %}
        <tr>
          <td>{{ apel.tanggal }}</td>
          <td>{{ apel.kelas_nama }}</td>
          <td>{{ apel.shift_jenis }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
